################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/kafkadesktopclient/v16
/Debug
/x64/
/src/out
/test/Debug
/test/Release
/test/x64
*.j
*.txt
/build